@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: black !important;
    color: #f0f0f0;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    line-height: 1.5;
  }

.quarto-search {
    font-size: 16px;
  }

.quarto-navbar-tools {
    font-size: 22px;
  }

.navbar {
    background-color: hotpink !important;
  }

.navbar-title {
    color: #f0f0f0;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
  }

.nav-item a, .nav-item a:visited {
    color: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
  }

.dropdown-item {
  font-size: 8px;
}

.sidebar {
    background-color: black !important;
  }

.margin-sidebar {
  background-color: black !important;
  }

.sidebar-item a, .sidebar-item a:visited {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    line-height: 1.5;
  }

.toc-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  line-height: 1.5;
  }

.toc-active a, .toc-active a:visited {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    line-height: 1.5;
  }

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  }